@page "/Sponsor/"
@inject HttpClient _client
@attribute [Authorize]
<h3 class="card-title">Sponsor</h3>
<p>
 <img src='/MrKumbar.jpg' />
</p>
<p>
 <img src='/DreamCore SG.jpg' />
</p>
<p>
    <img src='/Onyx Pc Technology.jpg' />
</p>
<p>
    <img src='/TradePac.jpg'
</p>
<p>
    <img src='/SecretLab.jpg'
</p>

<br />